body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}
/* 
h1, h2 {
    text-align: center;
} */

.yellow {
    background-color: #f99b45;
}
.red {
    background-color:#d95980;
}

.green {
    background-color: #63aac0;
}
.purple {
    background-color: #819ff9;
}

.flash {
    opacity: 0.5; /* Example effect */
    transition: opacity 0.25s ease;
}

.userflash {
    transform: scale(1.1); /* Example effect */
    transition: transform 0.25s ease;
}